<div class="container">
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="40">
    <mat-grid-tile routerLink="employee/list">
      <div class="text-center">
        <img src="../../assets/images/employee-management.png" alt="" />
        <div class="fs-4 mt-4">{{ "home.employeeManagement" | translate }}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile routerLink="contract/list">
      <div class="text-center">
        <img src="../../assets/images/contract-management.jpg" alt="" />
        <div class="fs-4 mt-4">{{ "home.contractManagement" | translate }}</div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="../../assets/images/coming-soon.png" alt="" />
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="../../assets/images/coming-soon.png" alt="" />
    </mat-grid-tile>
  </mat-grid-list>
</div>
